.dashboard-wrapper
  .row
    .small-12.columns
      .dashboard-inner.custom-container
        .row{"data-equalizer"=>""}
          .small-12.medium-3.large-3.user-side-border.columns{"data-equalizer-watch"=>""}
            = render 'sidebar'
          .small-12.medium-5.large-6.columns{"data-equalizer-watch"=>""}
            .edit-info-section
              %h4.user-header
                = "#{@user.name}'s Profile"
              .quick-view
                %h6
                  Personal Detail
                %table.user-info-table
                  %tr
                    %td
                      Name
                    %td
                      = @user.name
                  %tr
                    %td
                      Username
                    %td
                      = @user.username
                  %tr
                    %td
                      Email
                    %td
                      = @user.email
                  %tr
                    %td
                      Country
                    %td
                      = ISO3166::Country[@user.country]
              .quick-view
                %h6
                  Bank Detail
                  .right
                    = link_to "Add Account",{:controller => 'bank_accounts',:action => 'new'},:class => "label alert"
                - if @bank_details
                  - @bank_details.each_with_index do |b|
                    %table.user-info-table.separate
                      %tr
                        %td
                          Bank Name
                        %td
                          = b.name
                      %tr
                        %td
                          Account No
                        %td
                          = b.account_no
                      %tr
                        %td
                          Branch
                        %td
                          = b.place
                -else
                  %table.user-info-table
                    %tr
                      %td{:colspan => 2}
                        .panel
                          Bank account is not available, Please add
          .small-12.medium-4.large-3.columns{"data-equalizer-watch"=>""}
            = render 'dashboard/quick_view'
