.quick-view
  %h6
    Quick Summary
  .quick-money-project
    .quick-money-view
      - if @user.user_project_detail != nil
        = "#{@user.user_project_detail.user_income}$"
      -else
        0$
    .quick-view-footer
      from
      %b
        - if @user.user_project_detail != nil
          = "#{@user.user_project_detail.project_completed+@user.user_project_detail.project_ongoing+@user.user_project_detail.project_lost}"
        - else
          0

      Projects
  .quick-box.with-margin-top
    %h6
      Project Info
    %ul
      %li
        %a
          Completed Projects
          %span.label.alert.right
            - if @user.user_project_detail != nil
              = @user.user_project_detail.project_completed
            - else
              0
      %li
        %a
          Ongoing Projects
          %span.label.warning.right
            - if @user.user_project_detail != nil
              = @user.user_project_detail.project_ongoing
            -else
              0
      %li
        %a
          Lost Project
          %span.label.alert.right
            - if @user.user_project_detail != nil
              = @user.user_project_detail.project_lost
            -else
              0
  .quick-box
    %h6
      Edit Info
    %ul
      %li
        = link_to "Edit Profile",user_extras_user_info_path(:id=>current_user.id)