.quick-view
  %h6
    Quick Summary
  .quick-money-project
    .quick-money-view
      - if @user.user_project_detail != nil
        = "#{@user.user_project_detail.user_income}$"
      -else
        0$
    .quick-view-footer
      from
      %b
        - if @user.user_project_detail != nil
          = "#{@user.user_project_detail.project_completed.to_i+@user.user_project_detail.project_ongoing.to_i+@user.user_project_detail.project_lost.to_i}"
        - else
          0

      Projects
  .quick-box.with-margin-top
    %h6
      Project Info
    %ul
      %li
        %a
          Completed Projects
          %span.label.alert.right
            - if @user.user_project_detail != nil
              = @user.user_project_detail.project_completed.to_i
            - else
              0
      %li
        %a
          Ongoing Projects
          %span.label.warning.right
            - if @user.user_project_detail != nil
              = @user.user_project_detail.project_ongoing.to_i
            -else
              0
      %li
        %a
          Lost Project
          %span.label.alert.right
            - if @user.user_project_detail != nil
              = @user.user_project_detail.project_lost.to_i
            -else
              0
  .quick-box
    %h6
      Presonal Info
    %ul
      %li
        = link_to "View Profile", user_extras_user_info_path(:id => current_user.id)
      %li
        = link_to "Edit Profile",user_extras_user_info_path(:id=>current_user.id)
      - unless @user.user_ratings.empty?
        %li
          = link_to "Feedbacks",:controller => 'user_ratings',:action => 'rating_for_user',:user_id=>current_user.id