.quick-view
  .quick-box
    %h6
      Status
    - if @project.close == nil && @project.status == "0"
      %a.button.tiny.text-center.success.margin-0
        Ongoing
    - elsif @project.close == true && @project.status == "1"
      %a.button.tiny.secondary.text-center.margin-0
        closed
    - elsif @project.close == true && @project.status == "2"
      %a.button.tiny.alert.text-center.margin-0
        Losted
    - elsif @project.close == nil && @project.status == nil
      %a.button.tiny.success.text-center.margin-0
        open
    - else
      %a.button.tiny.success.text-center.margin-0
        open
  .quick-box
    %h6
      Bid
    %ul
      %li
        Available Bids
        %span.label.alert.right
          = @project.bids.size

  .quick-box
    %h6
      Skills required
    %ul.my-skill-box
      - @project.skills.each_with_index do |f,index|
        %li
          = f.name
  .quick-box
    %h6
      Budget
    %ul
      %li
        %a
          Minimum Budget
          %span.label.alert.right
            = "$ #{@project.min_budget}"
      %li
        %a
          Maximum Budget
          %span.label.alert.right
            = "$ #{@project.max_budget}"
  .quick-box
    %h6
      Close date
    %ul
      %li
        %a{:href=>'#'}
          Expired on
          %b
            = @project.close_date.strftime("%B %d, %Y")