.row
  .small-12.columns
    .result-table.margin-bottom-15
      %table
        %thead
          %tr
            %th
              Project Name
            %th{:class=>"hide-for-small-only"}
              Description
            %th
              Bids
            %th
              Skills
            %th
              Price
            %th
              End
        %tbody
          - @projects.each do |project|
            %tr
              %td{:width=>'200px'}
                = link_to project.title,:controller => 'dashboard',:action => 'project',:project=>project.id
              %td{:class=>"hide-for-small-only"}
                tghbe
              %td
                = 20
              %td
                = @skills.sample
              %td
                140$
              %td{:width=>"100px"}
                = Date.today
.row
  .small-12.columns
    = will_paginate @projects,:previous_label=>"«",:next_label => "»",:class=>"text-center custom-pagination" ,renderer: FoundationPagination::Rails