.row
  .small-12.columns
    .result-table.margin-bottom-15
      %table
        %thead
          %tr
            %th
              Project Name
            %th{:class=>"hide-for-small-only"}
              Description
            %th
              Bids
            %th
              Skills
            %th
              Price
            %th
              End
        %tbody
          - @projects.each do |project|
            %tr
              %td{:width=>'200px'}
                = link_to project.title,:controller => 'dashboard',:action => 'project',:project=>project.id
              %td{:class=>"hide-for-small-only"}
                = project.description.first(100).html_safe
              %td
                = project.bids.count
              %td
                - project.skills.each_with_index do |bid,index|
                  -if index == 0
                    = bid.name
                  -else
                    = ",#{bid.name}"
              %td
                = "$#{project.min_budget}-$#{project.max_budget}"
              %td{:width=>"100px"}
                = project.close_date
.row
  .small-12.columns
    = will_paginate @projects,:previous_label=>"«",:next_label => "»",:class=>"text-center custom-pagination" ,renderer: FoundationPagination::Rails