.search-form
  %form{:action=>"/dashboard/projects",:method=>"GET"}
    .row
      .small-12.columns
        .custom-tagit
          %input#search-skills{:type=>"text",:placeholder=>"Skills",:name=>"skills",:value=>@skills_text}
    .row
      .small-12.columns
        %input{:type=>"text",:placeholder=>"Search",:name=>"search_keyword",:id=>"submit-keyword",:value=>@search_keyword}
    .row
      .small-12.medium-12.large-12.columns
        .range-slider-box.margin-bottom-15
          %h5
            Select minimum and Maximum Budget
            (
            %span#min-range-value
            = "-"
            %span#max-range-value
            )
          %input#min-range{:type=>"hidden",:name=>"min_range",:value=>@min_range}
          %input#max-range{:type=>"hidden",:name=>"max_range",:value=>@max_range}
          #slider-range
    .row
      .small-12.medium-9.columns
      .small-12.medium-3.columns
        %input.button.alert.tiny.right.custom-submit-btn{:type=>"submit",:value=>"Search",:name=>""}
        = link_to "Reset",dashboard_projects_url,:class => "button tiny right margin-right-10"
- content_for :extra_js do
  :javascript
    $(document).ready(function(){
        var min_value = parseInt("#{@min_budget}")
        var max_value = parseInt("#{@max_budget}")
        var lower_value = parseInt("#{@min_range.blank?? @min_budget:@min_range}")
        var upper_value = parseInt("#{@max_range.blank? ? @max_budget:@max_range}")
        MinMaxBudgetSlider(min_value,max_value,lower_value,upper_value);
    })
    MinMaxBudgetSlider = function(min_budget,max_budget,lower_value,upper_value){
      $( "#slider-range" ).slider({
        range: true,
        min: typeof min_budget!="undefined"?min_budget:0,
        max: typeof max_budget!="undefined"?max_budget:1000,
        values: [ lower_value, upper_value ],
        slide: function( event, ui ) {
          $( "#min-range" ).val(ui.values[0]);
          $( "#max-range" ).val(ui.values[1]);
          $( "#min-range-value" ).html(ui.values[0]+'$');
          $( "#max-range-value" ).html(ui.values[1]+'$');
        }
      });
      $( "#min-range" ).val($( "#slider-range" ).slider( "values", 0 ));
      $( "#max-range" ).val($( "#slider-range" ).slider( "values", 1 ));
      $( "#min-range-value" ).html($( "#slider-range" ).slider( "values", 0 )+'$');
      $( "#max-range-value" ).html($( "#slider-range" ).slider( "values", 1 )+'$');
    }
