.dashboard-wrapper
  .row
    .small-12.columns
      .dashboard-inner.custom-container
        %h3.p-title
          = @project.title
        %ul.project-info
          %li
            Posted by
            = link_to "#{@project_owner.name}",:controller => 'dashboard',:action => 'user_profile', :user => @project_owner.id
          %li
            On
            %b= @project.created_at.strftime("%B %d, %Y")
        .row
          .small-12.medium-8.large-9.columns
            .p-description.panel
              = @project.description.html_safe
            .row
              .small-12.columns
                %h5
                  = "Bid on #{@project.title}"
                .bid-project
                  = form_for  @bid,url: {:controller => 'bid',:action => 'create'},:html=>{"data-parsley-validate"=>true} do |f|
                    .field
                      = f.label :details
                      = f.cktext_area :details ,:required=>true
                    .field.margin-top-15
                      .row
                        .small-3.columns
                          %label.left.inline
                            =f.label :bid,"Expected Budget (Dollar)"
                        .small-9.columns
                          .row.collapse
                            .small-1.columns
                              %span.prefix
                                $
                            .small-11.columns
                              = f.text_field :bid,:required=>true
                    .field
                      .row
                        .small-3.columns
                          %label.left.inline
                            =f.label :duration ,"Expected Duration (Days)"
                        .small-9.columns
                          .row.collapse
                            .small-1.columns
                              %span.prefix
                                @
                            .small-11.columns
                              = f.text_field :duration,:required=>true
                    .field
                      = f.label "Milstones"
                      .milestones#milestones
                        .row.each-milestone
                          .small-8.medium-9.columns
                            = text_field_tag("bid[task][]","",:placeholder=>"Describe milestone task")
                          .small-4.medium-3.columns
                            .row.collapse
                              .small-2.columns
                                %span.prefix
                                  $
                              .small-10.columns
                                = text_field_tag("bid[milestone][]","",:placeholder=>"Milestone payment",:class=>"milestone_payment")
                      .more-milestones.clearfix
                        %a.label.alert#add-milestones{:href=>"#milestones"}
                          %span.fa.fa-plus
                          Add milestones
                    .field
                      = f.hidden_field :project_id,:value => @project.id
                      = f.hidden_field :user_id, :value => current_user.id
                    .actions
                      = f.submit "Submit Proposal", :class => "button alert small custom-submit-btn right "
          .small-12.medium-4.large-3.columns
            = render 'quick_project_info'
-content_for :extra_js do
  :javascript
    $(document).ready(function(){
      $('#add-milestones').on('click',function(){
          var newMilestones = $('.each-milestone').first().clone();
          newMilestones.find('input').val("")
          $('.milestones').append(newMilestones);
      })
      // Parsley validation
      $('form').parsley()
      // Milestone payment should not exceed Total budgets
      var totalPayment = $('#bid_bid').val();
      $(document).on('keyup','.milestone_payment',function(){
          // calculete current milestone payment
          var calculateMilestones = 0
          $('body .milestone_payment').each(function(index,value){
            calculateMilestones = calculateMilestones + parseInt($(this).val());
          })

      })
    })
