.dashboard-wrapper
  .row
    .small-12.columns
      .dashboard-inner.custom-container
        .row
          .small-12.medium-8.large-9.columns
            .dashboard-tab-wrapper
              %h3.db-title
                Notifications
              - unless @notification.blank?
                .notification-box
                  .inner-notification
                    - @notification.each_with_index do |f|
                      .date-box
                        .day
                          = f.created_at.day
                        .month
                          = f.created_at.strftime('%B')
                      .each-notifications
                        %h6
                          = f.title.html_safe
                        .content
                          = f.content.html_safe
                        = link_to "More info",f.link,:class => "right"
              - else
                .panel
                  You don't have any notification
          .small-12.medium-4.large-3.columns
            = render 'dashboard/quick_view'

