.dashboard-wrapper
  .row
    .small-12.columns
      .dashboard-inner.custom-container
        %h3.p-title
          Current Status
        %section
          .result-table
            %table
              %thead
                %tr
                  %th
                    Earned Money
                  %th
                    Lost Money
                  %th
                    Transaction : Credit
                  %th
                    Transaction : Debit
                  %th
                    Net Balance
              %tbody
                - unless @user_project_status.nil?
                  %tr
                    %td
                      $
                      = @user_project_status.user_income.present? ? @user_project_status.user_income : 0
                    %td
                      $
                      = @user_project_status.user_lost_money.present? ?  @user_project_status.user_lost_money : 0
                    %td
                      = "$#{@user_transaction_credit?@user_transaction_credit:0}"
                    %td
                      = "$#{@user_transaction_debit?@user_transaction_debit:0}"
                    %td
                      - if @user_project_status.user_income && @user_project_status.user_lost_money
                        $
                        = (@user_project_status.user_income + @user_transaction_credit?@user_transaction_credit:0) - (@user_project_status.user_lost_money + @user_transaction_debit?@user_transaction_debit:0)
                        %br
                        - if (@user_project_status.user_income + @user_transaction_credit?@user_transaction_credit:0) < (@user_project_status.user_lost_money + @user_transaction_debit?@user_transaction_debit:0)
                          %p.alert.alert-box.negative-balance
                            You have -ve balance. You should add some money to continue your account
                      - else
                        %p
                          You have no transactions
                - else
                  %tr
                    %td{colspan:5}
                      You have no transaction

          %hr
          .user-transaction
            .row
              .small-12.medium-6.columns
                .add-money
                  %h3
                    Add Money
                    = link_to "Add Fund",{:controller => 'transaction',:action => 'add_money_new'},:class => 'button tiny right'
                  .result-table
                    %table
                      %thead
                        %tr
                          %th
                            ID
                          %th
                            Credit
                          %th
                            Date
                      %tbody
                        - if @transactions_credit.count > 0
                          - @transactions_credit.each do |credit|
                            %tr
                              %td
                                = credit.transaction_id
                              %td
                                = "$#{credit.amount}"
                              %td
                                = credit.created_at
                        - else
                          %tr
                            %td{:colspan => 3 }
                              No Transaction yet
                    .clearfix
                    .load-more
                      %a.text-center
                        More

              .small-12.medium-6.columns
                .withdraw-money
                  %h3
                    Withdraw Money
                    = link_to "Withdraw Money",transaction_withdraw_money_new_url,:class => "button right tiny"
                  .result-table
                    %table
                      %thead
                        %tr
                          %th
                            ID
                          %th
                            Credit
                          %th
                            Date
                      %tbody
                        - if @transactions_debit.count > 0
                          - @transactions_debit.each do |debit|
                            %tr
                              %td
                                = debit.transaction_id
                              %td
                                = "$#{debit.amount}"
                              %td
                                = debit.created_at
                        - else
                          %tr
                            %td{:colspan => 3 }
                              No Transaction Yet
                    .clearfix
                    .load-more
                      %a.text-center
                        More