.dashboard-wrapper
  .row
    .small-12.columns
      .dashboard-inner.custom-container
        %h3.p-title
          = @project.title
        %ul.project-info
          %li
            Posted by
            = link_to "#{@project_owner.name}",:controller => 'dashboard',:action => 'user_profile', :user => @project_owner.id
          %li
            On
            %b= @project.created_at.strftime("%B %d, %Y")
        .row
          .small-12.medium-8.large-9.columns
            .p-description.panel
              = @project.description.html_safe
            .row
              .small-12.columns
                - unless @i_bid == true || @project.creator.to_i == current_user.id.to_i
                  = link_to "Bid on this Project",{:controller => 'dashboard',:action => 'bid',:project=>@project.id},:class => 'button medium alert radius right'
            .row
              .small-12.columns
                %h5.p-title
                  Freelancers Bids
                  ="(#{@project_bid_users.size})"
                .p-bids#project-bids
                  .p-bids-inner
                    .each-bid.margin-bottom-15.bid-header
                      .inner-each-bid
                        .profile-image.header
                          Freelancers details
                        .profile-info-wrapper.header
                          .profile-info
                            &nbsp;
                          .profile-bid.header
                            %a
                              Bids ( in $)
                              %span.fa.fa-chevron-down
                .p-bids
                  .p-bids-inner#latest-bids
                    - @project_bids.each_with_index do |f,index|
                      .each-bid.margin-bottom-15
                        .inner-each-bid
                          .profile-image
                            - if @project_bid_users[index].profile_image.url
                              = image_tag @project_bid_users[index].profile_image.url
                            - else
                              = image_tag 'default_profile.png'
                          .profile-info-wrapper
                            .profile-info
                              %h3.profile-title
                                = link_to "#{@project_bid_users[index].name}",'#'
                              - if current_user.id.to_i == @project_bid_users[index].id.to_i && current_user.id != @project.creator.to_i
                                %small
                                  = link_to "Edit Bid",{:controller => 'dashboard',:action => 'edit_bid',:project=>@project.id , :bid => f.id},:class => "button tiny round"
                                  = link_to "Delete", {:controller => 'bid',:action => 'destroy',:bid=>f.id,:project => @project.id},:class => "button tiny alert round"
                              - elsif current_user.id.to_i == @project.creator.to_i && current_user.id.to_i == @project_bid_users[index].id.to_i
                                %small
                                  = link_to "View Bid",{:controller => 'bid',:action => 'show',:project=>@project.id , :bid => f.id},:class => "button success tiny round"
                                  = link_to "Edit Bid",{:controller => 'dashboard',:action => 'edit_bid',:project=>@project.id , :bid => f.id},:class => "button tiny round"
                                  = link_to "Delete", {:controller => 'bid',:action => 'destroy',:bid=>f.id,:project => @project.id},:class => "button tiny alert round"
                              - elsif current_user.id.to_i == @project.creator.to_i && current_user.id.to_i != @project_bid_users[index].id.to_i
                                %small
                                  = link_to "View Bid",{:controller => 'bid',:action => 'show',:project=>@project.id , :bid => f.id},:class => "button tiny round"
                              / if bid is accpeted he can goto page
                              - if @project_bid_users[index].id.to_i == current_user.id.to_i && f.granted
                                = link_to "Project awarded",{:controller => 'bid',:action => 'show',:project=>@project.id , :bid => f.id},:class => "button info tiny round"
                            .profile-bid
                              .profile-money
                                = "$#{f.bid}"
                                %small
                                  = "in #{f.duration} Days"
          .small-12.medium-4.large-3.columns
            = render 'quick_project_info'
