.dashboard-wrapper
  .row
    .small-12.columns
      .dashboard-inner.custom-container
        %h3.p-title
          Withdraw Money
        %section.body
          .row
            .small-12.medium-8.large-6.columns
              -if @bank_accounts.count > 0
                - unless  @available_money.nil? && @available_money.to_i <= 0
                  .panel
                    Maximum Withdraw money :  $
                    %span.available-money
                      = @available_money
                  = simple_form_for @transaction,url:transaction_withdraw_money_url do |f|
                    = f.hidden_field :user_id, value: current_user.id.to_i
                    = f.hidden_field :transaction_type, value: "debit"
                    = f.hidden_field :transaction_id, value: (1_000_000 + Random.rand(1_00_000_000 - 10_000_000))
                    = f.input :amount , label: "Please enter amount of money in $",input_html: {placeholder: "Enter amount"}
                    = f.input :bank_account_id, collection: @bank_accounts, prompt: "Choose bank account"
                    = f.button :submit, "Withdraw Money", class:"button right tiny", id:"withdraw-button"
                - else
                  .panel
                    YOu haven't enough money to transfer. Do some projects or add fund to your account.
              - else
                .panel
                  We don't find any bank account assossiated with this account, Please goto your dashboard and add Bank details
                  = link_to "Dashboard", user_extras_user_info_url(:id => current_user.id)

- content_for :extra_js do
  :javascript
    $(window).load(function(){
      var availableMoney = parseInt($('.available-money').html())
      if(availableMoney < 5){
        $('#withdraw-button').attr('disabled','disabled')
      }
    })
    $(document).ready(function(){
      var availableMoney = parseInt($('.available-money').html())
      $('#transaction_amount').on('change keyup',function(){
        var enteredValue = $(this).val()
        if(enteredValue > availableMoney){
          $('#withdraw-button').attr('disabled','disabled')
        }else{
          $('#withdraw-button').removeAttr('disabled')
        }
      })
    })