.small-12.columns
  .admin-dashboard
    %ul.admin-quick-list
      %li.small-12.medium-3.large-3.columns
        %section.admin-quick-box.quick-blue
          .admin-quick-main
            .admin-quick-note
              %p
                %b= @project_last_month.count
                Project has been posted on
                %b last 30 days.
          .admin-quick-footer
            %h5
              = @total_project
              Projects
              %span.fa.fa-rocket.pull-right
      %li.small-12.medium-3.large-3.columns
        %section.admin-quick-box.quick-green
          .admin-quick-main
            .admin-quick-note
              %p
                %b=@total_users
                active users use this platform for freelance works
          .admin-quick-footer
            %h5
              = @total_users
              Users
              %span.fa.fa-user.pull-right
      %li.small-12.medium-3.large-3.columns
        %section.admin-quick-box.quick-red
          .admin-quick-main
            .admin-quick-note
              %p
                So far
                %b $300
                transaction across platform
          .admin-quick-footer
            %h5
              Transaction History
              %span.fa.fa-money.pull-right
      %li.small-12.medium-3.large-3.columns
        %section.admin-quick-box.quick-violet
          .admin-quick-main
            .admin-quick-note
              %p
                Messages and Notifications from Users on
                Project
          .admin-quick-footer
            %h5
              Inbox/ Notifications
              %span.fa.fa-inbox.pull-right
    .clearfix
    .admin-quick-detailed-box
      .small-12.medium-3.large-3.columns
        .admin-admin-details
          %h5.admin-detail-head
            %span.fa.fa-group
            &nbsp;Admins
            %a.pull-right
              %span.fa.fa-arrow-circle-right
          .clearfix
          .admin-admin-detail-table
            %table.admin-table
              %tbody
                -@admin_users.each do |admin|
                  %tr
                    %td
                      %a.profile
                        %span.fa.fa-user
                    %td{width:"300"}
                      %a{href:"#"}
                        = admin.email
      .small-12.medium-6.large-6.columns
        .admin-project-detail-table
          %h5.admin-detail-head
            %span.fa.fa-file
            &nbsp;Project
            %a.pull-right
              %span.fa.fa-arrow-circle-right
          %table.admin-table
            %tfoot
              %tr
                %th
                  Title
                %th
                  Budget
                %th
                  Creator
            %tbody
              -@last_five_project.each do |project|
                %tr
                  %td
                    = link_to project.title, '#'
                  %td
                    = "#{project.min_budget}$ ~ #{project.max_budget}$"
                  %td
                    = project.user.name
      .small-12.medium-3.large-3.columns
        .admin-latest-user
          .admin-each-user
            %header
              .profile-image
                .image
                  = image_tag @last_five_users.profile_image.url
            %section
              %h4.user-name.text-center
                = @last_five_users.name
              .clearfix
              .user-info
                %p
                  @
                  = @last_five_users.username
                %p
                  = @last_five_users.email
                %p.country
                  = ISO3166::Country[@last_five_users.country]
    .clearfix





