= form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      %h4= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul.backend-errors.margin-bottom-15
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.cktext_area :description
  -#.field
  -#  = f.label :creator
  -#  = f.number_field :creator
  .field.block.margin-top-15
    = f.label :skills
    .custom-tagit
      - if not defined? @skillArray
        = f.text_field :skill
      - else
        = f.text_field :skill,:value=>@skillArray.to_sentence(two_words_connector: ',')
  .field
    = f.label :min_budget
    = f.number_field :min_budget,:placeholder=>"Budget in Dollar"
  .field
    = f.label :max_budget
    = f.number_field :max_budget,:placeholder=>"Budget in Dollar"
  .field
    = f.label :close_date
    = f.date_select :close_date
  .field
    = f.hidden_field :creator,:value=>current_user.id
  -#.field
  -#  = f.label :assigned_to
  -#  = f.number_field :assigned_to
  .actions
    = f.submit 'Save',:class=>"button tiny custom-submit-btn right"
