.dashboard-wrapper
  .row
    .small-12.columns
      .dashboard-inner.custom-container
        .row
          .small-12.columns
            %h1
              Listing projects
              = link_to 'New Project', new_project_path,:class => 'button alert tiny round right'
        .row
          .small-12.columns
            %table
              %thead
                %tr
                  %th{:width=>120} Title
                  %th{:width=>300} Description
                  %th Creator
                  %th Skills
                  %th Min budget
                  %th Max budget
                  %th{:width=>80} Duration
                  %th{:colspan=>3,:width=>200}
                    Action

              %tbody
                - if not  @projects.empty?
                  - @projects.each_with_index do |project,index|
                    %tr
                      %td= project.title
                      %td{:width=>400}= project.description.first(100).html_safe
                      %td= @projectArray[index]['creator']
                      %td{:width=>140}
                        %ul.ul-skills
                          - @projectArray[index]['skills'].each_with_index do |s,index|
                            %li
                              = s.name
                      %td= project.min_budget
                      %td= project.max_budget
                      %td= project.close_date
                      %td= link_to 'Show', project
                      %td= link_to 'Edit', edit_project_path(project)
                      %td= link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' }
                - else
                  %tr
                    %td{:colspan => 11}
                      Nothing found Please create/ add Projects....
        .row
          .small-12.columns
            = will_paginate @projects,:previous_label=>"«",:next_label => "»",:class=>"text-center custom-pagination" ,renderer: FoundationPagination::Rails

