.dashboard-wrapper
  .row
    .small-12.columns
      .dashboard-inner.custom-container
        %h3.p-title
          = @project.title
        %ul.project-info
          %li
            Posted by
            = link_to "#{@project_owner.name}",:controller => 'dashboard',:action => 'user_profile', :user => @project_owner.id
          %li
            On
            %b= @project.created_at.strftime("%B %d, %Y")
        .row
          .small-12.medium-8.large-9.columns
            .p-description.panel
              = @project.description.html_safe
            %h5.p-title
              = "Bid Proposal by <b>#{@bid_user.name}</b>".html_safe
            .panel
              = @bids.details.html_safe
            %hr
            .row
              .small-12.medium-4.columns
                .panel.bid-feature
                  .title
                    Project Duration
                  .content
                    %h2
                      = @bids.duration
                      %small
                        %i days
              .small-12.medium-4.columns
                .panel.bid-feature
                  .title
                    Bid Price
                  .content
                    %h2
                      %small
                        $
                      = @bids.bid
              .small-12.medium-4.columns
                .panel.bid-feature
                  .title
                    Milestones
                  .content
                    %h2
                      = @bids.milestones.count
                      %small
                        %i
                          milestones
            .row
              .small-12.columns
                %h5.p-title
                  Dashboard
                .action-pack
                  .panel
                    %h6.p-title
                      Project Overall status
                    .row{"data-equalizer"=>""}
                      .small-12.medium-6.columns{"data-equalizer-watch"=>""}
                        .circle-progress{"data-pct" => "100"}
                          %svg.svg{:height => "200", :version => "1.1", :viewPort => "0 0 100 100", :width => "200", :xmlns => "http://www.w3.org/2000/svg"}
                            %circle{:cx => "100", :cy => "100", :fill => "transparent", :r => "90", "stroke-dasharray" => "565.48", "stroke-dashoffset" => "0"}
                            %path.path-bar{:d => "M100,10 A90,90 0 0,1 100,190 A90,90 0 0,1 100,10  Z", :fill => "none", :style => "stroke: rgb(236, 121, 58); stroke-width: 16px;stroke-dasharray: 565px, 565px; stroke-linecap: butt;", :transform => ""}
                      .small-12.medium-6.columns{"data-equalizer-watch"=>""}
                        %table.right.bid-table
                          %thead
                            %tr
                              %th
                                Remaining Days
                              %th
                                Budget
                              %th
                                Milestones
                          %tbody
                            %tr
                              %td
                                = distance_of_time_in_words(Time.now,(@bids.accepted_date+(@bids.duration.to_i).days))
                              %td
                                = "$#{@bids.bid}"
                              %td
                                = @bids.milestones.count
                  .row
                    .small-12.columns
                      %h5.p-title
                        Milestones
                      %ul.accordion.margin-0{"data-accordion"=>""}
                        - @bids.milestones.each_with_index do |m|
                          %li.accordion-navigation
                            = link_to "#{m.milestone}<span class='fa fa-plus right'></span>".html_safe,"#milestone#{m.id}"
                            .content{:id=>"milestone#{m.id}"}
                              .row
                                -if current_user.id.to_i == @bids.user_id.to_i
                                  .small-12.medium-6.columns
                                    .row
                                      .small-12.columns
                                        - if m.percentage != 100
                                          .jquery-sliders{:id=>"milestone-progress-slider-#{m.id}","data-milestone-id"=>"#{m.id}","data-value"=>"#{m.percentage}"}
                                          %p.margin-top-15
                                            %label
                                              %b.margin-bottom-15 Milestone Progress
                                            %input.milestone-progress{:id=>"milestone-progress-#{m.id}",:type=>"text","readonly"=>"","data-milestone-id"=>"#{m.id}",:value=>"#{m.percentage}","data-value"=>"#{m.percentage}"}
                                            %span.left.hide{:id=>"response-message-#{m.id}"}
                                            %a.save_bid_progress.button.tiny.right{"data-milestone-id"=>"#{m.id}","data-milestone-creator"=>"#{@bids.user_id}"}
                                              Save Progress
                                        -else
                                          .jquery-sliders.slider-disabled{:id=>"milestone-progress-slider-#{m.id}","data-milestone-id"=>"#{m.id}","data-value"=>"#{m.percentage}","disabled"=>true}
                                          %p.margin-top-15
                                            %label
                                              %b.margin-bottom-15 Milestone Progress
                                            %input.milestone-progress{:id=>"milestone-progress-#{m.id}",:type=>"text","readonly"=>"","data-milestone-id"=>"#{m.id}",:value=>"#{m.percentage}","data-value"=>"#{m.percentage}"}
                                            %span.left.hide{:id=>"response-message-#{m.id}"}
                                            .clearfix
                                          .panel
                                            %p
                                              You have been completed This milestone
                                  .small-12.medium-6.columns
                                    - if m.status
                                      %a.request-payment.button.alert.tiny.right{"data-milestone-id"=>"#{m.id}","data-milestone-creator"=>@bids.user_id,:disabled=> (m.grant_payment or m.request_payment)}
                                        - if m.request_payment and  not m.grant_payment
                                          Requested Payment
                                        - elsif m.request_payment and   m.grant_payment
                                          Payment received
                                        - else
                                          Request Payment
                                    - unless m.status
                                      %a.button.margin-right-10.success.tiny.right.complete-milestone{:id=>"complete-percentage-#{m.id}","disabled"=> m.percentage.to_i !=100,"data-milestone-id"=>m.id,"data-milestone-creator"=>"#{@bids.user_id}"}
                                        ="#{m.percentage} Completed"
                                -elsif current_user.id.to_i == @project_owner.id.to_i
                                  .small-12.columns
                                    .panel
                                      %p
                                        = "Milestone is <b>#{m.percentage}%</b> Completed, Once it completed you should pay <b>#{m.payment}$</b> for the Developer".html_safe
                                      .clearfix
                                      - if m.request_payment
                                        .row
                                          .small-12.columns
                                            %a.button.right.tiny.release-payment{:class=>("success" if  m.grant_payment),:disabled=> m.grant_payment,"data-milestone-id"=>m.id,"data-milestone-creator"=>@bids.user_id}
                                              = m.grant_payment ? "Payment Completed":"Release Payment"


- content_for :extra_css do
  :css
    small.hide{
      display: none;
    }
- content_for :extra_js do
  :javascript
    $(window).load(function(){
      changeProgressCircle("#{@bids.percentage}")
      $('.jquery-sliders').each(function(index,value){
        $(this).slider('value',$(this).attr('data-value'))
        $(this).siblings('p').children('input').attr('value',$(this).attr('data-value')).val($(this).attr('data-value'))
      })

    })
    $(document).ready(function(){
      var actualProgress = 0;
      $('.jquery-sliders').slider({
        min: 0,
        max: 100,
        step: 1,
        slide:function(event,ui){
          $(this).siblings('p').children('.milestone-progress').attr('value',ui.value).val(ui.value)
          var elementId = $(this).attr('data-milestone-id')
          $('#complete-percentage-'+elementId).html(ui.value+" Completed")
          if(ui.value=="100"){

          }else{
            $('#complete-percentage-'+elementId).attr('disabled','disabled');
          }
          var sum = 0;
          var numberOfMilestones= 0;
          $(document).find('.milestone-progress').each(function(index,value){
            sum = Number(sum) + Number($(this).val());
            numberOfMilestones +=1;
          })
          actualProgress = sum/(numberOfMilestones);
          changeProgressCircle(actualProgress)
        }
      })
      $('.slider-disabled').slider('disable')
      $('.milestone-progress').each(function(index,value){
        var values = $(this).parent('p').parent().find('.jquery-sliders').slider('value')
        $(this).attr('value',values).val(values);
      })
      // Save progress
      $(document).find('.save_bid_progress').on('click',function(){
        var milestoneId = $(this).attr('data-milestone-id');
        var milestoneProgress = $(this).siblings('input').val();
        var milestoneCreator = $(this).attr('data-milestone-creator');
        $.ajax({
            url:"#{url_for :controller => 'milestone', :action =>'milestone_progress' }",
            type:"POST",
            data:{
              m_type :'progress',
              m_id : milestoneId,
              m_progress : milestoneProgress,
              m_creator : milestoneCreator,
              bid_progress : Math.round(actualProgress),
              bid_id : "#{@bids.id}"
            },
            success:function(data){
              $('#response-message-'+milestoneId).removeClass('hide').html(data.message)
              setTimeout(function(){
                $('#response-message-'+milestoneId).fadeOut('slow')
              },1800)
              console.log(milestoneProgress)
              if(milestoneProgress>=100){
                $('#complete-percentage-'+milestoneId).removeAttr('disabled');
              }else{
                $('#complete-percentage-'+milestoneId).attr('disabled','disabled');
              }
            }
        })
      })
      // Save status as completed
      $('body').on('click','.complete-milestone',function(){
        var element = $(this)
        var milestoneId = $(this).attr('data-milestone-id');
        var milestoneCreator = $(this).attr('data-milestone-creator')
        $.ajax({
            url:"#{url_for :controller => 'milestone', :action =>'milestone_complete' }",
            type:"POST",
            data:{
              m_type :'completed',
              m_id : milestoneId,
              bid_id : "#{@bids.id}",
              m_creator : milestoneCreator
            },
            success:function(data){
              if(data.status == "success"){
                $('#completedMilestone').foundation('reveal','open')
                var newElement = "<a class='button tiny alert right request-payment' href='#request-payment-"+data.milestone+"' data-milestone-id="+data.milestone+">Request Payment</a>"
                $(element).before(newElement);
                $(element).fadeOut('slow')
              }
            }
        })
      })
      // Request Payment
      $(document).on('click','body .request-payment',function(){
        var element = $(this)
        var milestoneId = $(this).attr('data-milestone-id');
        var milestoneCreator = $(this).attr('data-milestone-creator')
        $.ajax({
          url:"#{url_for :controller => 'milestone',:action => 'milestone_payment'}",
          type :"POST",
          data:{
            m_type:"request_payment",
            m_id:milestoneId,
            m_creator : milestoneCreator,
            bid_id : "#{@bids.id}",
            project_id :"#{@project.id}"
          },
          success:function(data){
            if(data.status=="success"){
              element.html("Payment requested").attr('disabled','disabled')
            }
          }
        })
      })
      // Release payment
      $(document).on('click','body .release-payment',function(){
        var projectId = "#{@project.id}";
        var milestoneId = $(this).attr("data-milestone-id");
        var milestoneCreator = $(this).attr("data-milestone-creator");
        $.ajax({
          url:"#{url_for :controller => 'milestone',:action => 'milestone_payment'}",
          type :"POST",
          data:{
            m_type    : "release_payment",
            m_id      : milestoneId,
            m_creator : milestoneCreator,
            project_owner : "#{@project.creator}",
            project_id : projectId,
            bid_id : "#{@bids.id}"
          },
          success:function(data){

          }
        })
      })
    })

    function changeProgressCircle(value){
      var val = Math.round(value)
        var $path = $('.svg .path-bar')
        if (isNaN(val)) {
          val = 0;
        }
        else{
          var r = 90;
          var c = Math.PI*(r*2);
          if (val < 0) { val = 0;}
          if (val > 100) { val = 100;}
          var pct = ((100-val)/100)*c;
          $path.css({ 'stroke-dashoffset': pct});
          $('.circle-progress').attr('data-pct',val);
        }
    }
- content_for :extra_html do
  #completedMilestone.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
    %h2#modalTitle Congratulation!!!
    %p.lead You have been completed one if your milestone
    %p Great news, You have been completed milestone, Now you can request for Payment
    %a.close-reveal-modal{"aria-label" => "Close"} ×
