!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Untitled"

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body
    .off-canvas-wrap{"data-offcanvas" => ""}
      .inner-wrap
        %nav.tab-bar
          %section.left-small
            %a.left-off-canvas-toggle.menu-icon{:href => "#","data-no-turbolink"=>true}
              %span
          %section.middle.tab-bar-section
            %h1.title.text-left HuntHob : Admin Dashboard
        %aside.left-off-canvas-menu
          %ul.off-canvas-list
            %li
              %label Dashboard
            %li
              = link_to "Home","#"
            %li
              = link_to "Notifications",'#'
            %li
              = link_to "Projects",admin_dashboard_projects_url
            %li
              = link_to "User Database",'#'
            %li
              = link_to "Settings","#"
        %section.main-section
          .admin-dashboard-wrapper
            = yield

